
<p-toast  ></p-toast>

<p-fluid>
    <form class="card flex flex-col" (ngSubmit)="createMenu()" [formGroup]="menuFormService.form">
        <div class="flex items-center justify-between mb-4">
            <p-button label="Volver" link icon="pi pi-arrow-left" routerLink="/dashboard/menu" />
            <p-button type="submit" label="Guardar" icon="pi pi-save" [disabled]="menuFormService.form.invalid" />
        </div>

        <h4 class="font-semibold text-xl">Información Básica</h4>
        <upsert-menu></upsert-menu>
        <!-- <pre>ERRORS: {{  menuFormService.form.controls }}</pre> -->
    </form>
   
</p-fluid>
