@let email = loginForm.get('email'); @let password = loginForm.get('password');
<app-configurator />
<!-- <app-floating-configurator /> -->
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="flex justify-center mb-4">
                        <app-company-logo></app-company-logo>
                    </div>

                    <span class="text-muted-color font-medium">Inicia sesión para continuar</span>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Correo electrónico</label>
                    <input pInputText id="email" type="text" placeholder="Email address" class="w-full md:w-120 mb-8" formControlName="email" [invalid]="email?.invalid && (email?.dirty || email?.touched)" />

                    <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Contraseña</label>
                    <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true" class="mb-4" [fluid]="true" [feedback]="false" [invalid]="password?.invalid && (password?.dirty || password?.touched)"></p-password>

                    <p-button type="submit" label="Iniciar sesión" [loading]="authService.loading()" styleClass="w-full" routerLink="/" [disabled]="loginForm.invalid"></p-button>
                </form>
            </div>
        </div>
    </div>
</div>
