<section class="bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 py-20 transition-all duration-300">
    <div class="container mx-auto px-4">
        @if (section().items.length === 0) {
        <empty-field-message className="max-w-lg mx-auto" textContent="No hay elementos disponibles"></empty-field-message>
        } @else {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            @for (item of section().items; track item.id) {
            <p-card (contextmenu)="contextMenu().onContextMenu($event, item)" class="advantage-item flex flex-col items-center text-center p-6 transition-shadow duration-300 h-full">
                @if (item.iconUrl) {
                <img [src]="item.iconUrl" alt="{{ item.title }} icon" class="size-16 mx-auto dark:!text-red-500" />
                } @else {
                <empty-field-message className="flex items-center justify-center" textContent="Sin ícono"></empty-field-message>
                }

                <h4 class="!text-xl font-semibold text-surface-800 dark:text-surface-100 mb-2">{{ item.title }}</h4>

                @if (item.description) {
                <p class="text-surface-600 dark:text-surface-300 leading-relaxed">{{ item.description }}</p>
                } @else {
                <empty-field-message className="w-full" textContent="Contenido pendiente"></empty-field-message>
                }
            </p-card>

            }

            <!-- <context-menu-crud [editCommand]="edit" [deleteCommand]="delete" [(selected)]="selectedItem"> </context-menu-crud> -->
        </div>
        }
    </div>
</section>
