<div class="flex flex-col gap-x-2 gap-y-4 w-full" [formGroup]="form()">
    <!-- @if (includeFields().includes('title')) {
    <div class="flex flex-col gap-2 w-full">
        <label for="title">Titulo</label>
        <input id="title" type="text" pInputText formControlName="title" placeholder="Título de la sección" />
        @if (form().controls['title'].errors) {
        <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form(), 'title') }} </p-message>
        }
    </div>
    } @if (includeFields().includes('subtitle')) {

    <div class="flex flex-col gap-2 w-full">
        <label for="subtitle">Subtítulo (opcional)</label>
        <input id="subtitle" type="text" pInputText formControlName="subtitle" placeholder="Subtítulo de la sección" />
        @if (form().controls['subtitle'].errors) {
        <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form(), 'subtitle') }} </p-message>
        }
    </div>
    } @if (includeFields().includes('content')) {

    <div class="flex flex-col gap-2">
        <label for="content">Contenido (opcional)</label>
        <textarea pTextarea id="content" [autoResize]="true" formControlName="content" placeholder="Contenido de la sección"></textarea>
        @if (form().controls['content'].errors) {
        <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form(), 'content') }} </p-message>
        }
    </div>
    } -->

    <!-- @for (field of includeFields2()) {

    } -->

    @for (field of includeFields(); track field.type) {
        @let inputType = field.inputType ?? 'text';
    <div class="flex flex-col gap-2 w-full">
        <label [for]="field.type">{{ field.label }}</label>

        @if (!field.isTextarea) { @if (inputType === 'text' || inputType === 'email') {
        <input [id]="field.type" [type]="inputType" pInputText [formControlName]="field.type" [placeholder]="field.placeholder" />

        } @if (inputType === 'number') {
        <p-input-number [id]="field.type" [formControlName]="field.type" [placeholder]="field.placeholder" [min]="0"
         [maxlength]="9" [minlength]="9"
        [useGrouping]="false" prefix="(+51) " class="w-full"></p-input-number>
        } } @else {
        <textarea pTextarea [id]="field.type" [autoResize]="true" [formControlName]="field.type" [placeholder]="field.placeholder"></textarea>
        } @if (form().controls[field.type].errors) {
        <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form(), field.type) }} </p-message>
        }
    </div>
    }
</div>
