<!-- section-contact-top-bar-items.html -->
<section class="bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 p-10 transition-all duration-300">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap items-center gap-x-6 gap-y-5 justify-evenly space-y-2 md:space-y-0 text-sm">
            @if (section().items.length === 0) {
            <empty-field-message className="w-full" textContent="No hay números de contacto agregados."></empty-field-message>
            } @else { @for (item of section().items; track item.id) {
            <div class="flex items-center space-x-2 text-white/90 hover:text-white transition-colors duration-300" (contextmenu)="contextMenu.onContextMenu($event, item)">
                @if (item.icon) {
                <img alt="Icon" class="size-6 object-contain" (error)="item.icon = null" [src]="item.icon" />
                } @else {
                <app-image-error iconClass="!size-4" containerClass="!size-6"></app-image-error>
                }
                <span #contact class="font-medium"> {{ item.title }} </span>
            </div>

            }

            <context-menu-crud [editCommand]="edit" [deleteCommand]="delete" [(selectedItem)]="selectedItem"> </context-menu-crud>
            }
        </div>
    </div>
</section>
