<div class="flex flex-col max-w-7xl mx-auto">
    <div class="card">
        <div class="flex justify-between items-center flex-wrap gap-4 mb-4">
            <div class="flex flex-col gap-0">
                <h5 class="!text-4xl !font-extrabold !m-0">Categorias</h5>
                <span class="text-muted-color text-xl">Gestiona las categorias</span>
            </div>
            <p-button label="Nueva Categoria" icon="pi pi-plus" class="p-button-sm p-button-outlined" (click)="display.set(true)"></p-button>
        </div>

        <categories-list></categories-list>
        <dialog-form [display]="display()" [(selectedCategory)]="selectedCategory" [form]="form" (onCloseDialog)="closeDialog()"></dialog-form>
    </div>
</div>
