<p-dialog
    [header]="selectedMenu() ? 'Editar menu' : 'Crear nuevo menu'"
    class="!overflow-hidden"
    [visible]="display()"
    (visibleChange)="onCloseDialog.emit()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '25rem' }"
    [modal]="true"
    [maximizable]="true"
>
    <form class="flex flex-col gap-4" [formGroup]="form" id="menu-form" (ngSubmit)="saveChanges()">
        <div class="flex flex-col gap-2">
            <label for="link">Enlace</label>

            <app-error-boundary skeletonHeight="2.5rem" [resource]="linksList" errorMessage="Ocurrió un error cargando los enlaces.">
                <ng-template #content let-links>
                    @let linkType = form.controls['linkType'].value; @let filteredLinks = links | filterLinksByType: linkType;
                    <div class="flex flex-wrap gap-2 items-center">
                        <div class="flex-grow">
                            <p-select
                                [overlayOptions]="{
                                mode: 'modal'
                                }"
                                id="link"
                                [showClear]="true"
                                inputClass="w-full my-auto"
                                formControlName="linkId"
                                [options]="filteredLinks"
                                emptyMessage="No se encontraron enlaces."
                                emptyFilterMessage="No se encontraron enlaces."
                                filterPlaceholder="Buscar por nombre"
                                [checkmark]="true"
                                optionLabel="title"
                                [filter]="true"
                                optionValue="id"
                                fluid
                                placeholder="Selecciona una página"
                            >
                            </p-select>
                            @if (form.controls['linkId'].errors) {
                            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'linkId') }} </p-message>
                            }
                        </div>
                        <p-selectbutton [options]="linkTypeOptions | keyvalue" formControlName="linkType" optionLabel="value.label" optionValue="key" aria-labelledby="basic">
                            <ng-template #item let-option>
                                <i [class]="option.value.icon"></i>
                            </ng-template>
                        </p-selectbutton>
                    </div>
                </ng-template>
            </app-error-boundary>
        </div>

        <div class="flex flex-col gap-2">
            <label for="title">Titulo</label>
            <!-- <p-select id="title" formControlName="type" [options]="linkTypes()" optionLabel="label" optionValue="value" placeholder="Selecciona el tipo de enlace"></p-select> -->
            <input id="title" type="text" pInputText formControlName="title" placeholder="Título del enlace" />
            @if (form.controls['title'].errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'title') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="parent">Item padre (opcional)</label>
            <app-error-boundary skeletonHeight="2.5rem" [resource]="linksList" errorMessage="Ocurrió un error cargando los enlaces.">
                <p-select
                    [overlayOptions]="{
                    mode: 'modal'
                }"
                    class="w-full"
                    id="parent"
                    formControlName="parentId"
                    [options]="menuParentsList()"
                    [checkmark]="true"
                    optionLabel="title"
                    optionValue="id"
                    placeholder="Selecciona una página"
                >
                </p-select>

                <ng-template #content let-menus>
                    <p-treeSelect
                        emptyMessage="No se encontraron menús."
                        [options]="menusListSelect()"
                        formControlName="parentId"
                        [overlayOptions]="{
                    mode: 'modal'
                    }"
                        class="w-full"
                        placeholder="Selecciona los menús para esta sección"
                        selectionMode="single"
                        [filter]="true"
                        [showClear]="true"
                        [panelStyle]="{ 'max-height': '300px', 'overflow': 'auto' }"
                    ></p-treeSelect>
                    <!-- @if (form.controls['menusIds'].errors) {
                <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'menusIds') }} </p-message>
                } -->
                </ng-template>
            </app-error-boundary>
        </div>
    </form>

    <!-- {{ form.value | json }} -->

    <ng-template #footer>
        <button pButton type="submit" form="menu-form" icon="pi pi-save" [disabled]="form.invalid" label="Guardar"></button>
    </ng-template>
</p-dialog>
