<p-dialog header="Formulario de Configuración" [(visible)]="display" [modal]="true" [closable]="true" (visibleChange)="display.set(false)">
    <form class="p-fluid flex flex-col gap-4" id="user-form" [formGroup]="form()">
        @let profile = form().controls['currentProfile'].value;

        <p-fileupload chooseLabel="Seleccionar icono" [showUploadButton]="false" (onSelect)="onFileSelect($event)" [showCancelButton]="false" [multiple]="false" accept="image/*" maxFileSize="5000000" mode="advanced">
            <ng-template #empty>
                @if (profile) {
                <div class="flex items-center justify-center w-full">
                    <img [src]="profile" alt="Current Icon" class="size-16" />
                </div>
                } @else {
                <div class="flex items-center justify-center w-full">
                    <label
                        for="dropzone-file"
                        class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500"
                    >
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                                />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Arrastrar</span> tu perfil aca</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 5MB)</p>
                        </div>
                    </label>
                </div>
                }
            </ng-template>
        </p-fileupload>

        <div class="flex flex-col gap-2">
            <label for="name">Nombre</label>
            <input id="name" type="text" pInputText formControlName="name" />
            @if (form().controls['name'].invalid) {
            <p-message severity="error" variant="simple" size="small">{{FormUtils.getFieldError(form(), 'name')}}</p-message>
            }
        </div>
        <div class="flex flex-col gap-2">
            <label for="lastname">Apellido</label>
            <input id="lastname" type="text" pInputText formControlName="lastname" />
            @if (form().controls['lastname'].invalid) {
            <p-message severity="error" variant="simple" size="small">{{FormUtils.getFieldError(form(), 'lastname')}}</p-message>
            }
        </div>
        <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText formControlName="email" />
            @if (form().controls['email'].invalid) {
            <p-message severity="error" variant="simple" size="small">{{FormUtils.getFieldError(form(), 'email')}}</p-message>
            }
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="form().invalid || form().pristine" form="user-form" pButton type="button" label="Guardar" icon="pi pi-check" (click)="display.set(false)"></button>
    </ng-template>
</p-dialog>
