<div class="grid lg:grid-cols-2 items-start gap-16 p-6 bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 py-20 transition-all duration-300">
    <div class="h-full flex flex-col">
        <img [src]="section().image" [alt]="section().title" class="w-full h-auto my-auto" />
    </div>

    <form class="lg:ml-auto space-y-4 lg:min-w-md">
        <h2 class="!text-3xl md:!text-4xl !font-bold text-primary-600 !text-center mb-4">{{section().title}}</h2>
        <p class="!text-lg text-surface-600 dark:text-surface-300 mx-auto text-center leading-relaxed">{{section().description}}</p>

        @if (section().items.length === 0) {
        <empty-field-message className="mb-5" textContent="No hay campos de contacto configurados."></empty-field-message>
        } @else { @for (input of section().items; track input.id) { @switch (input.inputType) { @case (InputType.TEXT) {
        <div class="flex flex-col gap-2 w-full" (contextmenu)="contextMenu.onContextMenu($event, input)">
            <label for="name">{{input.title}}</label>
            <input pInputText type="text" placeholder="{{input.subtitle}}" fluid />
        </div>
        } @case (InputType.EMAIL) {
        <div class="flex flex-col gap-2 w-full" (contextmenu)="contextMenu.onContextMenu($event, input)">
            <label for="email">{{input.title}}</label>
            <input pInputText type="email" placeholder="{{input.subtitle}}" fluid />
        </div>
        } @case (InputType.TEXTAREA) {
        <div class="flex flex-col gap-2 w-full" (contextmenu)="contextMenu.onContextMenu($event, input)">
            <label for="message">{{input.title}}</label>
            <textarea pTextarea placeholder="{{input.subtitle}}" rows="3" [autoResize]="true" fluid></textarea>
        </div>
        } } } }

        <context-menu-crud [editCommand]="edit" [deleteCommand]="delete" [(selected)]="selectedItem"> </context-menu-crud>

        <!-- <button type="button" class="text-white bg-slate-900 hover:bg-slate-800 tracking-wide rounded-md text-sm font-medium px-4 py-3 w-full cursor-pointer !mt-2 border-0">Send message</button> -->
        @if (section().textButton) {
        <button pButton type="button" label="{{section().textButton}}"></button>
        }
    </form>
</div>
