<div
    class="grid items-start mx-auto gap-16 p-6 bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 py-20 transition-all duration-300"
    [ngClass]="{
    'lg:grid-cols-2': !isPreview()
 }"
>
    <div class="h-full flex flex-col">
        <img
            [src]="section().image"
            [alt]="section().title"
            class="h-auto m-auto"
            [ngClass]="{
    'w-56 lg:w-full': !isPreview(),
    'w-52': isPreview()
 }"
        />
    </div>

    <form class="mb-5 flex flex-col gap-3">
        <h2 class="!text-3xl md:!text-4xl !font-bold text-primary-600 !text-center mb-4">{{section().title}}</h2>
        <p class="!text-lg text-surface-600 dark:text-surface-300 mx-auto text-center leading-relaxed">{{section().description}}</p>

        @if (section().items.length === 0) {
        <empty-field-message textContent="No hay campos de contacto configurados."></empty-field-message>
        } @else { @for (input of section().items; track input.id) { @switch (input.inputType) { @case (InputType.TEXT) {
        <div
            class="flex flex-col w-full"
            [ngClass]="{
            'border border-primary p-2 rounded-2xl': currentSectionItem()?.id === input.id
         }"
            (contextmenu)="contextMenu()?.onContextMenu($event, input)"
        >
            <label for="name">{{input.title}}</label>
            <input pInputText type="text" placeholder="{{input.subtitle}}" fluid />
        </div>
        } @case (InputType.EMAIL) {
        <div
            class="flex flex-col gap-2 w-full"
            [ngClass]="{
            'border border-primary p-2 rounded-2xl': currentSectionItem()?.id === input.id
         }"
            (contextmenu)="contextMenu()?.onContextMenu($event, input)"
        >
            <label for="email">{{input.title}}</label>
            <input pInputText type="email" placeholder="{{input.subtitle}}" fluid />
        </div>
        } @case (InputType.TEXTAREA) {
        <div
            class="flex flex-col gap-2 w-full"
            [ngClass]="{
            'border border-primary p-2 rounded-2xl': currentSectionItem()?.id === input.id
         }"
            (contextmenu)="contextMenu()?.onContextMenu($event, input)"
        >
            <label for="message">{{input.title}}</label>
            <textarea pTextarea placeholder="{{input.subtitle}}" rows="3" [autoResize]="true" fluid></textarea>
        </div>
        } } } } @if (section().textButton) {
        <button pButton type="button" class="mt-5 w-fit" label="{{section().textButton}}"></button>
        }
    </form>
</div>
