<div [formGroup]="form()" class="flex flex-col gap-2 mt-2">
    <label>{{ label() }}</label>
    <app-error-boundary [resource]="machinesList" errorMessage="Ocurrió un error cargando las máquinas." emptyMessage="No hay máquinas disponibles. Por favor, crea una máquina primero.">
        <ng-template #content let-machines>
            <!-- <div class="flex flex-wrap  gap-3 mb-2">
                <p-selectbutton [options]="categoryTypesOptions" [formControl]="currentOptionControl" optionLabel="label" optionValue="value">
                    <ng-template #item let-option>
                        <div class="flex items-center gap-2">
                            <i class="pi mr-2" [class]="option.icon"></i>
                            <span>{{ option.label }}</span>
                        </div>
                    </ng-template>
                </p-selectbutton>

                <app-error-boundary [resource]="categoriesList" errorMessage="Ocurrió un error cargando las categorías de máquinas." emptyMessage="No hay categorías disponibles.">
                    <ng-template #content let-categories>
                        <p-multiSelect
                            id="category"
                            
                            [formControl]="categoriesIdsControl"
                            emptyMessage="No hay categorías disponibles"
                            emptyFilterMessage="No se encontraron categorías"
                            [options]="categories"
                            formControlName="categoryId"
                            optionLabel="title"
                            optionValue="id"
                            placeholder="Filtrar por categoría"
                        ></p-multiSelect>
                        
                    
                    </ng-template>

                </app-error-boundary>
            </div> -->

            <p-multiSelect
                id="machine"
                class="w-full"
                [overlayOptions]="{
                    mode: mode()
                    }"
                emptyMessage="No hay máquinas disponibles"
                emptyFilterMessage="No se encontraron máquinas"
                [options]="filteredMachinesList()"
                [selectionLimit]="multiple() ? null : 1"
                formControlName="machinesIds"
                optionLabel="name"
                optionValue="id"
                placeholder="Selecciona máquinas"
            ></p-multiSelect>
        </ng-template>
    </app-error-boundary>
</div>
