<section class="bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 py-20 transition-all duration-300">
    <div class="container mx-auto px-4">
        @if (!machine()) {
        <empty-field-message className="max-w-md mx-auto" textContent="No hay máquina seleccionada"></empty-field-message>
        } @else {
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-start">
            <!-- IMAGEN Y THUMBNAILS -->
            <div class="col-span-1 flex flex-col gap-4">
                <p-galleria [showThumbnailNavigators]="false" [value]="imagesGallery()" [showThumbnails]="true" [numVisible]="5" styleClass="shadow-lg rounded-xl overflow-hidden bg-white dark:bg-surface-800">
                    <ng-template #item let-image>
                        <img [src]="image.url" alt="{{machine()?.name}}" class="w-full max-h-64 object-contain rounded-xl" />
                    </ng-template>
                    <ng-template #thumbnail let-image>
                        <img [src]="image.url" alt="{{machine()?.name}} Thumbnail" class="size-14 object-cover" />
                    </ng-template>
                </p-galleria>
            </div>

            <!-- TITULO / DESCRIPCION / BOTONES -->
            <div class="col-span-2 lg:col-span-2 flex flex-col gap-4">
                <div class="flex flex-col gap-4">
                    <div>
                        <h5 class="!text-2xl md:!text-3xl font-bold text-surface-900 dark:text-surface-100">{{ machine()?.name }}</h5>
                        <p class="mt-2 text-lg text-surface-600 dark:text-surface-300 max-w-2xl text-justify">{{ machine()?.longDescription }}</p>
                    </div>

                    <div class="flex gap-3 mt-4 md:mt-0 items-center">
                        @if (machine()?.manual) {

                        <a pButton label="Descargar brochure" icon="pi pi-file-pdf" [href]="machine()?.manual" target="_blank" rel="noopener noreferrer" styleClass="p-button-sm"></a>
                        } @if (section().textButton){
                        <p-button [label]="section().textButton!"></p-button>
                        }
                    </div>
                </div>
            </div>
        </div>
        }

        <div class="mt-10">
            <p-accordion>
                @if (section().title) {
                <h6 class="!text-xl font-bold mb-4 text-center">{{section().title}}</h6>
                } @else {
                <empty-field-message className="max-w-md mx-auto mb-4" textContent="Sin título de especificaciones técnicas"></empty-field-message>
                }
                <p-accordion-panel value="0">
                    <p-accordion-header>
                        @if (section().subtitle) { {{section().subtitle}} } @else {
                        <empty-field-message className="max-w-md mx-auto mb-4" textContent="Sin subtítulo de especificaciones técnicas"></empty-field-message>
                        }
                    </p-accordion-header>
                    <p-accordion-content>
                        <table class="w-full table-auto text-sm">
                            <tbody>
                                @for (spec of machine()?.technicalSpecifications ?? []; track spec.id) {
                                <tr>
                                    <td class="py-3 px-4 font-medium text-surface-700 dark:bg-surface-700 bg-surface-50 dark:text-surface-200 w-1/3 border-b border-surface-200 dark:border-surface-800">{{ spec.title }}</td>
                                    <td class="py-3 px-4 text-surface-600 dark:text-surface-300 border-b border-surface-200 dark:border-surface-700">{{ spec.description }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
    </div>
</section>
