<p-confirmdialog />
<div class="flex flex-col max-w-7xl mx-auto">
    <div class="card">
        <div class="sticky top-16 bg-[var(--surface-card)] pb-2 z-20">
            <div class="flex justify-between items-center flex-wrap gap-4 mb-4">
                <div class="flex flex-col gap-0">
                    <h5 class="!text-4xl !font-extrabold !m-0">Plantillas reutilizables</h5>
                    <span class="text-muted-color text-xl">Gestiona las secciones de tipo layout</span>
                </div>

                <div class="flex items-center- flex-wrap gap-2">
                    <p-button label="Nueva Sección" icon="pi pi-plus" (click)="display.set(true)"></p-button>
                </div>
            </div>

            <div class="flex border-b border-surface-200 dark:border-surface-700 pb-4 mb-4 items-center flex-wrap sm:flex-nowrap gap-4">
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-search cursor-pointer"></i>
                    </p-inputgroup-addon>
                    <input pInputText placeholder="Buscar sección..." #searchInput />
                </p-inputgroup>

                <p-multiSelect class="sm:max-w-72" [options]="sectionTypesOptions | keyvalue" 

                selectedItemsLabel="{0} tipos seleccionados"
                emptyFilterMessage="No se encontraron tipos"
                emptyMessage="No hay tipos disponibles"
                placeholder="Filtrar por tipo" optionLabel="value.label" optionValue="key" display="chip" fluid #selectedTypes>
                    <ng-template let-country #item>
                        <p-tag [severity]="country.value.severity" class="text-sm" [value]="country.value.label"></p-tag>
                    </ng-template>
                </p-multiSelect>
            </div>
        </div>

        <sections-list [searchTerm]="searchInput.value" [filterByType]="selectedTypes.value" [type]="SectionMode.LAYOUT" [selectedPage]="selectedPage()" (onDisplay)="display.set($event)" (onSelectedSection)="selectedSection.set($event)">
            <ng-template #associatedPage let-section>
                <p-button 
                [loading]="sectionService.loading()"
                (click)="op.toggle($event); setPages(section)" icon="pi pi-sitemap" label="Asociar páginas" variant="outlined"> </p-button>

                <p-popover #op>
                    <div class="flex flex-col gap-4 w-xs" [formGroup]="form">
                        <app-error-boundary [resource]="pageList" emptyMessage="No hay páginas disponibles para asociar" errorMessage="Hubo un error al cargar las páginas">
                            <ng-template #content let-pages>
                                <!-- optionValue="id" -->

                                <p-multiSelect
                                 
                                formControlName="pagesIds" size="small" [options]="pages" optionLabel="title" optionValue="id" placeholder="Selecciona páginas para asociar" display="chip" fluid>
                                    <ng-template #footer>
                                        <div class="p-3 flex justify-end">
                                            <p-button
                                                label="Guardar"
                                                severity="secondary"
                                                [disabled]="
                                                form.invalid
                                            "
                                                text
                                                size="small"
                                                icon="pi pi-save"
                                                (click)="associateToPages(section); op.hide()"
                                            />
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                                @if (form.controls['pagesIds'].errors) {
                                <p-message severity="error" variant="simple" size="small">{{FormUtils.getFieldError(form, 'pagesIds')}}</p-message>
                                }
                            </ng-template>
                        </app-error-boundary>
                    </div>
                </p-popover>
            </ng-template>
        </sections-list>
        <section-form [mode]="SectionMode.LAYOUT" [display]="display()" (onCloseDialog)="display.set(false)" [selectedPageId]="selectedPage()?.id!" [(selectedSection)]="selectedSection"></section-form>
    </div>
</div>
