@let link = menuItem().link; @let activeStatus = menuActiveStatus[`${menuItem().active}`];
<div class="bg-white dark:bg-surface-800 rounded-lg border border-surface-200 dark:border-surface-700">
    <!-- Item principal -->
    <div class="p-4">
        <div class="flex items-center justify-between flex-wrap gap-4">
            <div class="flex items-center space-x-3">
                <!-- Drag handle -->
                <!-- <i class="pi pi-bars text-surface-600 dark:text-surface-400 cursor-move" aria-label="Drag Handle" cdkDragHandle></i> -->

                <!-- Chevron para submenu -->
                @if (menuItem().children && menuItem().children!.length > 0) {
                <button class="p-1" (click)="menuItem().expanded = !menuItem().expanded" aria-label="Toggle Submenu">
                    <i [class]="menuItem().expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="text-surface-600 dark:text-surface-400"></i>
                </button>
                }

                <div>
                    <div class="font-medium text-surface-900 dark:text-surface-0">{{ menuItem().title }}</div>

                    <div class="bg-surface-100 truncate text-ellipsis max-w-72 xl:max-w-full px-3 w-fit" style="border-radius: 30px">
                        <i
                            class="pi pi-file !text-[12px] text-secondary dark:text-black mr-2"
                            [class]="{
                                                'pi-file': link?.type === LinkType.PAGE,
                                                'pi-external-link': link?.type === LinkType.EXTERNAL,
                                                'pi-inbox': !link?.type
                                            }"
                        ></i>
                        <span class="text-secondary dark:text-black font-medium text-sm">{{ link?.title ?? 'Sin enlace asignado' }}</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center space-x-2">
                <p-tag [value]="activeStatus.label" [severity]="activeStatus.severity" class="text-sm" />
                <p-button icon="pi pi-pencil" text aria-label="Edit Menu Item" (click)="openDialogAndEdit()(menuItem())"></p-button>
                <p-button icon="pi pi-trash" text severity="danger" aria-label="Delete Menu Item" (click)="confirmDeleteMenu()($event, menuItem())"></p-button>
            </div>
        </div>
    </div>

    <!-- Submenu items -->
    @if (menuItem().children && menuItem().children!.length > 0 && menuItem().expanded) {
    <!-- cdkDropList [cdkDropListData]="menuItem().children" (cdkDropListDropped)="drop($event, menuItem().children)" -->
    <div class="ml-9 border-t border-surface-200 dark:border-surface-700 bg-surface-50 dark:bg-surface-900 p-2 flex flex-col space-y-2">
        @for (child of menuItem().children; track child.id) {
        <menu-item [menuItem]="child" [confirmDeleteMenu]="confirmDeleteMenu().bind(this)" [openDialogAndEdit]="openDialogAndEdit().bind(this)"></menu-item>
        }
    </div>
    }
</div>
