@if(!menuExists()) {
<h4 class="font-semibold text-xl mb-4">El menú no existe</h4>
} @else {
<p-toast></p-toast>

<p-fluid>
    <form class="card flex flex-col" [formGroup]="menuFormService.form" (ngSubmit)="updateMenu()">
        <div class="flex items-center justify-between mb-4">
            <p-button label="Volver" link icon="pi pi-arrow-left" routerLink="/dashboard/menu" />
            <p-button type="submit" label="Guardar" icon="pi pi-save" [disabled]="menuFormService.form.invalid || menuFormService.form.pristine" />
        </div>

        <h4 class="font-semibold text-xl">Información Básica</h4>
        <upsert-menu></upsert-menu>
        <!-- <pre>ERRORS: {{  menuFormService.form.controls }}</pre> -->
    </form>
</p-fluid>
<pre>{{ menuFormService.form.value | json }}</pre>
<!-- <pre>{{ initialFormValue | json }}</pre> -->
}
