<p-dialog [(visible)]="display" [modal]="true" [closable]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" (visibleChange)="closeDialog()" [style]="{ width: '40rem' }">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <i class="pi" [class]="isEditMode ? 'pi-pencil' : 'pi-plus'"></i>
            <span class="m-0">{{ isEditMode ? 'Editar Maquina' : 'Nueva Maquina' }}</span>
        </div>
    </ng-template>
    <form id="machine-form" class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="flex flex-col gap-2">
            <label for="machine-name">Nombre</label>
            <input id="machine-name" type="text" pInputText formControlName="name" placeholder="Nombre de la máquina" />
            @if (form.controls['name'].errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'name') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="machine-description">Breve Descripción</label>
            <textarea id="machine-description" pInputTextarea formControlName="shortDescription" placeholder="Breve descripción de la máquina" rows="3"></textarea>
            @if (form.controls['shortDescription'].errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'shortDescription') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="machine-full-description">Descripción completa</label>
            <textarea id="machine-full-description" pInputTextarea formControlName="fullDescription" placeholder="Descripción completa de la máquina" rows="5"></textarea>
            @if (form.controls['fullDescription'].errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'fullDescription') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="machine-category">Imágenes</label>

            <div>
                <p-fileupload
                    #fileUp
                    [fileLimit]="fileLimit()"
                    [showCancelButton]="false"
                    (onSelect)="onImagesSelect($event)"
                    [showUploadButton]="false"
                    [multiple]="true"
                    [disabled]="isEditMode && (disabledUpload() || !optionSelectButton())"
                    accept="image/*"
                    maxFileSize="5000000"
                    mode="basic"
                    chooseLabel="Seleccionar imágenes"
                    class="w-full"
                    mode="advanced"
                >
                    <ng-template #content let-files let-removeFileCallback="removeFileCallback" let-index="index">
                        @if (isEditMode) {

                        <p-selectbutton [formControl]="optionSelectButtonControl" optionDisabled="constant" [options]="updateImagesOptions()" optionLabel="label" class="mx-auto" optionValue="value" aria-labelledby="basic">
                            <ng-template #item let-option>
                                <span class="flex items-center gap-2">
                                    <i class="pi" [class]="option.icon"></i>
                                    <span>{{ option.label }}</span>
                                    <!-- <span class="ml-auto">{{ option.total }}</span> -->
                                    <p-badge [value]="option.total" class="ml-auto"></p-badge>
                                </span>
                            </ng-template>
                        </p-selectbutton>
                        @let images = form.controls['images'].value; @if (images && images.length > 0) { {{fileLimit()}} {{disabledUpload()}} {{optionSelectButton()}}
                        <div class="grid gap-3 w-full mx-autojustify-center grid-cols-3 sm:grid-cols-5 xl:grid-cols-3">
                            @for (value of currentImages(); let i = $index; track i) { @let indexOrder = selectedImageOrder(value?.image); @if (value && !value?.disabled) {

                            <div
                                class="mx-auto relative group cursor-pointer rounded border-2 transition-all duration-200"
                                [ngClass]="{
                                'border-primary bg-primary/10 p-1': includeImage(value!.image),
                                'opacity-50 cursor-not-allowed': optionSelectButton() === 'new'
                                }"
                                (click)="optionSelectButton() === 'update' ? onSelectedImage($event, value!.image) : null"
                            >
                                <img [src]="value!.image" alt="Machine Image" class="size-20 object-cover rounded" />
                                <!-- <span>{{ indexOrder }}</span> -->
                                @if (indexOrder > 0) {

                                <p-badge [value]="indexOrder" severity="info" class="absolute top-1 left-1 text-xs"></p-badge>
                                } @if (optionSelectButton() === 'delete') {

                                <p-button
                                    icon="pi pi-times"
                                    [rounded]="true"
                                    [text]="true"
                                    [raised]="true"
                                    severity="danger"
                                    styleClass="!bg-white"
                                    size="small"
                                    [ngClass]="{
                                         'group-hover:opacity-100': !includeImage(value!.image),
                                      
                                     }"
                                    (click)="!includeImage(value!.image) ? removeImage($event, value!.image) : null"
                                    class="absolute top-1 right-1 opacity-0 transition-opacity duration-200"
                                />
                                }
                            </div>
                            } @else {
                            <!-- {{value | json}} -->
                            <div class="relative size-20 mx-auto flex items-center justify-center border-2 border-dashed border-gray-300 rounded cursor-not-allowed">
                                @if (indexOrder > 0) {

                                <p-badge [value]="indexOrder" severity="info" class="absolute top-1 left-1 text-xs"></p-badge>
                                } @if (value && value?.disabled) {
                                <!-- styleClass="!bg-white" -->
                                <!-- severity="danger" -->
                                <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" [raised]="true" size="small" (click)="removeImage($event, value!.image)" class="absolute top-1 right-1 opacity-100 transition-opacity duration-200" />
                                }

                                <i class="pi pi-image !text-3xl text-gray-400"></i>
                            </div>
                            } }
                        </div>

                        } }
                        <div class="flex flex-col gap-2">
                            @for (file of files; let i = $index ; track file.name) { @let selectedImage = selectedImages()[i];

                            <div class="flex items-center justify-between p-2 rounded">
                                <div class="flex items-center gap-2">
                                    <!-- <i class="pi pi-image !text-2xl text-blue-600"></i> -->
                                    <p-badge [value]="i + 1" severity="info" class="text-xs"></p-badge>
                                    <img [src]="file.objectURL" alt="Machine Image" class="size-8 object-cover rounded" />
                                    <span>{{ file.name }}</span>
                                    <span>{{ getUuidFromFile(file) }}</span>
                                    @if (selectedImage) {
                                    <span>{{ selectedImage.type }}</span>

                                    }
                                    <p-button icon="pi pi-trash" text class="p-button-text p-button-plain p-button-sm" (click)="removeFile($event, index, file)"></p-button>
                                </div>
                            </div>
                            }
                        </div>
                    </ng-template>

                    <ng-template #empty>
                        <div class="flex items-center justify-center w-full">
                            <label
                                for="dropzone-file"
                                class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500"
                            >
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <i class="pi pi-cloud-upload !text-4xl text-gray-500 dark:text-gray-400"></i>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Arrastrar</span> tu imagen aquí</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG o GIF (5MB máx.)</p>
                                </div>
                            </label>
                        </div>
                    </ng-template>
                </p-fileupload>
                @if (form.controls['fileImages'].errors) {
                <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'fileImages') }} </p-message>
                }
            </div>
            <!-- } -->
        </div>

        <pre>{{ form.value | json }}</pre>

        <div class="flex flex-col gap-4 mt-5">
            <p-button type="button" icon="pi pi-plus" label="Agregar Especificaciones" class="ml-auto" (click)="displayTechnicalSpecifications.set(true)"></p-button>
            <technical-specifications-table [specifications]="machineFormService.technicalSpecifications"></technical-specifications-table>
            @if (form.controls['technicalSpecifications'].errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'technicalSpecifications') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="machine-category">Manual ( Opcional )</label>
            <div>
                <p-fileupload
                    #manualFileUp
                    [showCancelButton]="false"
                    (onSelect)="onManualSelect($event)"
                    [showUploadButton]="false"
                    accept="application/pdf"
                    maxFileSize="5000000"
                    mode="basic"
                    chooseLabel="Seleccionar PDF"
                    class="w-full"
                    mode="advanced"
                >
                    <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
                        <div class="flex flex-col gap-2">
                            @for (file of files; track file.name) {
                            <div class="flex items-center justify-between p-2 rounded">
                                <div class="flex items-center gap-2">
                                    <i class="pi pi-file-pdf !text-2xl text-red-600"></i>
                                    <span>{{ file.name }}</span>
                                </div>
                                <button type="button" class="p-button p-component p-button-text p-button-plain" (click)="removeFileCallback(file)">
                                    <span class="p-button-icon pi pi-times"></span>
                                </button>
                            </div>
                            }
                        </div>
                    </ng-template>

                    <ng-template #empty>
                        @let manual = form.controls['currentManual'].value; @if (manual) {
                        <div class="flex items-center justify-center w-full">
                            <a href="{{ manual }}" target="_blank" class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg bg-gray-50 hover:bg-gray-100">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <i class="pi pi-file-pdf !text-4xl text-red-600"></i>
                                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Ver</span> el manual PDF</p>
                                </div>
                            </a>
                        </div>
                        } @else {
                        <div class="flex items-center justify-center w-full">
                            <label
                                for="dropzone-file"
                                class="flex flex-col items-center justify-center w-full h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500"
                            >
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <i class="pi pi-cloud-upload !text-4xl text-gray-500 dark:text-gray-400"></i>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Arrastrar</span> tu PDF aquí</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">PDF (5MB máx.)</p>
                                </div>
                            </label>
                        </div>
                        }
                    </ng-template>
                </p-fileupload>
                @if (form.controls['manualFile'].errors) {
                <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'manualFile') }} </p-message>
                }
            </div>
        </div>

        <show-link-switch [form]="form"></show-link-switch>

        
    </form>

    <technical-specifications-dialog-form [(display)]="displayTechnicalSpecifications"></technical-specifications-dialog-form>

    <ng-template #footer>
        <button form="machine-form" [loading]="loading()" type="submit" pButton icon="pi pi-save" [disabled]="form.invalid" label="Guardar"></button>
    </ng-template>
</p-dialog>
