<form class="rounded-2xl border border-gray-200 p-5 lg:p-6 dark:border-gray-800" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <h4 class="!text-lg font-semibold text-gray-800 lg:mb-6 dark:text-white/90">Cambiar Contraseña</h4>

        <div class="flex flex-wrap md:flex-nowrap items-start gap-6 w-full">
            <div class="w-full">
                <label for="password" class="sr-only">Contraseña</label>
                <input pInputText id="password" type="text" placeholder="Contraseña" fluid formControlName="password" />
            </div>
            <div class="w-full">
                <label for="new-password" class="sr-only">Nueva Contraseña</label>
                <input pInputText id="new-password" type="text" placeholder="Nueva Contraseña" fluid formControlName="newPassword" />
            </div>
            <p-button type="submit" [disabled]="form.invalid || form.pristine" icon="pi pi-check" label="Cambiar"></p-button>
        </div>
    </div>
</form>
