<!-- {{section() | json}} -->
 @if (section().title) {

     <h2 class="!text-xl md:!text-2xl font-bold text-primary-700 dark:text-primary-400  mb-6">{{section().title}}</h2>
 } @else {
     <empty-field-message className="max-w-md mb-4" textContent="Sin título"></empty-field-message>
 }
<p-splitter
    [layout]="isMobile() ? 'vertical' : 'horizontal'"
    [panelSizes]="isMobile() ? [40, 60] : [25, 75]"
    [style]="{ height: '300px' }"
    panelStyleClass="bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 transition-all duration-300"
>
    <ng-template #panel>
     
                @if (categories().length > 0) {

                <div class="p-3">
                    <p-listbox [scrollHeight]="isMobile() ? '100px' : ''" [options]="categories()" [(ngModel)]="selectedCategoryId" optionLabel="title" optionValue="id" class="w-full" />
                </div>
                } @else {
                <div class="flex flex-col items-center text-center justify-center my-auto h-full py-8 text-surface-500">
                    <i class="pi pi-inbox text-4xl mb-3"></i>
                    <div class="font-semibold text-lg mb-1">No se encontraron categorias</div>
                    <div class="text-sm">No hay categorias asociadas a los items de esta sección.</div>
                </div>
                }
           
    </ng-template>
    <ng-template #panel>
        @let machinesByCategory = section().machines || [] | filterByIds : selectedCategoryId() : 'categoryId';
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-3 h-full overflow-y-auto">
            @if (machinesByCategory.length === 0) {
            <div class="flex flex-col items-center justify-center py-8 text-surface-500 col-span-full">
                <i class="pi pi-inbox text-4xl mb-3"></i>
                <div class="font-semibold text-lg mb-1">No se encontraron items</div>
                <div class="text-sm">Intenta seleccionar otra categoría o agrega nuevos items a esta sección.</div>
            </div>
            } @else { @for (item of machinesByCategory; track item.id) {
            <p-card class="h-full">
                <ng-template #header>
                    @if (item.images && item.images.length > 0) {
                    <img alt="Card" class="w-full h-48 object-cover" [src]="getMainImageUrl(item)" />

                    }@else {
                    <app-image-error></app-image-error>
                    }
                </ng-template>
                <ng-template #title>
                    <div class="flex items-center gap-4">{{ item.name }}</div>
                </ng-template>
                <p>{{ item.description }}</p>

                
            </p-card>
            } }
        </div>
    </ng-template>
</p-splitter>
