<!-- section-value-proposition-items.html -->
<section class="bg-gradient-to-br from-gray-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 py-20 transition-all duration-300">
    <div class="container mx-auto px-4">
        <!-- Título principal -->
        <div class="text-center">
            <h2 class="!text-3xl md:!text-4xl font-bold text-slate-800 dark:text-slate-100 mb-4 transition-colors duration-300">{{section().title}}</h2>
        </div>

        @if (section().items.length === 0) {
        <empty-field-message className="max-w-lg mx-auto mt-8" textContent="No hay elementos disponibles"></empty-field-message>
        } @else {

        <!-- Grid de cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto">
            @for (item of section().items; track item.id) {
            <p-card class="value-card h-full" (contextmenu)="contextMenu.onContextMenu($event, item)">
                <div class="p-6">
                    <h3 class="!text-xl font-bold mb-4 !mt-0 transition-colors duration-300">{{ item.title }}</h3>

                    @if (item.description) {
                    <p class="text-slate-600 dark:text-slate-300 leading-relaxed mb-6 transition-colors duration-300">{{ item.description }}</p>
                    } @else {
                    <empty-field-message className="mx-auto my-4 max-w-lg" textContent="Descripción pendiente"></empty-field-message>
                    }

                    <div class="flex items-start space-x-3 rounded-lg transition-colors duration-300">
                        <i class="pi pi-angle-right text-blue-600 dark:text-blue-400 mt-1 flex-shrink-0"></i>
                        @if(item.subtitle) {
                        <p class="text-sm text-slate-700 dark:text-slate-300 font-medium">{{item.subtitle}}</p>
                        } @else {
                        <empty-field-message className="mx-auto max-w-lg" textContent="Subtítulo pendiente"></empty-field-message>
                        }
                    </div>
                </div>
            </p-card>
            }

            <context-menu-crud [editCommand]="edit" [deleteCommand]="delete" [(selected)]="selectedItem"> </context-menu-crud>
        </div>
        }
    </div>
</section>
