<div class="flex flex-col max-w-7xl mx-auto">
    <div class="card">
        <div class="flex justify-between items-center flex-wrap gap-4 mb-4">
            <div class="flex flex-col gap-0">
                <h5 class="!text-4xl !font-extrabold !m-0">Máquinas</h5>
                <span class="text-muted-color text-xl">Gestiona las máquinas disponibles</span>
            </div>
            <p-button label="Nueva categoria" icon="pi pi-plus" class="p-button-sm p-button-outlined" (click)="displayDialog.set(true)"></p-button>
        </div>

        <table-machine (onDisplayCategoryDialog)="displayDialog.set(true)"></table-machine>

        <category-dialog-form [(display)]="displayDialog"></category-dialog-form>

    
        
    </div>
    
</div>

