<app-error-boundary [resource]="categoriesList" emptyMessage="No hay máquinas disponibles." errorMessage="Hubo un error al cargar las máquinas.">
    <ng-template #loading>
        <app-data-view-skeleton></app-data-view-skeleton>
    </ng-template>

    <ng-template #content let-categories>
        <p-confirm-dialog />
        <p-contextmenu #cm [model]="items" (onHide)="selectedCategory.set(null)" />
        <p-table [value]="categories" [(contextMenuSelection)]="selectedCategory" [contextMenu]="cm" sortField="title" sortMode="single" dataKey="id" rowGroupMode="subheader" groupRowsBy="id" [tableStyle]="{'min-width': '70rem'}">
            <ng-template #header>
                <tr>
                    <th style="width: 10%">Nombre</th>
                    <th style="width: 20%">Breve Descripción</th>
                    <th style="width: 30%">Descripción completa</th>
                    <th style="width: 10%">Imagenes</th>
                    <th style="width: 10%">Especificaciones Técnicas</th>
                    <th style="width: 10%">Manual</th>
                    <th style="width: 10%">Creación</th>
                    <th style="width: 20%">Última Modificación</th>
                </tr>
            </ng-template>
            <ng-template #groupheader let-category let-rowIndex="rowIndex" let-expanded="expanded">
                <tr [pContextMenuRow]="category">
                    <td colspan="7" class="w-full">
                        <button type="button" pButton pRipple [pRowToggler]="category" text rounded plain class="mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        @let type = getType(category.type);

                        <span class="font-bold ml-2">{{category.title}}</span>

                        <p-tag class="ml-4" [value]="type.label" [severity]="type.severity" [icon]="type.icon"></p-tag>
                    </td>
                </tr>
            </ng-template>
            <ng-template #groupfooter let-category>
                <tr class="p-rowgroup-footer">
                    <td colspan="6" style="text-align: right">Total de máquinas</td>
                    <td>{{category.machines.length}}</td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-category>
                @if (category.machines.length === 0) {
                <tr>
                    <td colspan="7" class="text-center">No hay máquinas en esta categoría.</td>
                </tr>
                } @else { @for (machine of category.machines; track machine.id) {
                <tr [class.p-datatable-contextmenu-row-selected]="selectedMachine() && selectedMachine()!.id === machine.id" (contextmenu)="onContextMenu($event, machine)">
                    <td>{{machine.name}}</td>
                    <td>{{machine.description}}</td>
                    <td>
                        <div class="line-clamp-3">{{machine.longDescription}}</div>
                    </td>
                    <td>
                        @if (machine.images && machine.images.length > 0) {

                        <div class="flex gap-2">
                            @let mainImage = machine.images[0];
                            <div class="relative" (mouseenter)="showMore.classList.remove('!hidden')" (mouseleave)="showMore.classList.add('!hidden')">
                                <img [src]="mainImage" alt="Machine Image" class="w-16 h-16 object-cover rounded cursor-pointer hover:opacity-75" />
                                <i #showMore class="!hidden pi pi-search absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white cursor-pointer" (click)="imagesGallery.set(machine.images)"></i>
                            </div>
                        </div>
                        } @else {

                        <span>No hay imágenes</span>
                        }
                    </td>
                    <td>
                        <p-button type="button" label="Ver" icon="pi pi-eye" text (click)="displaySpecifications($event, machine.technicalSpecifications)"></p-button>
                    </td>
                    <td>
                        @if (machine.manual) {
                        <a pButton icon="pi pi-download" class="p-button-text" [href]="machine.manual" target="_blank" rel="noopener noreferrer" download></a>
                        } @else {
                        <span>No hay manual</span>
                        }
                    </td>
                    <td>{{ machine.createdAt | date: 'short' }}</td>
                    <td>{{ machine.updatedAt | date: 'short' }}</td>
                </tr>
                } }
            </ng-template>
        </p-table>
        <p-popover #op (onHide)="selectedMachine.set(null)">
            <technical-specifications-table [specifications]="specifications()"></technical-specifications-table>
        </p-popover>
        <p-contextmenu #machineCm [model]="machineItems" (onHide)="selectedCategory.set(null)" />

        <machine-dialog-form [(display)]="dialogMachine"></machine-dialog-form>

        <p-galleria #galleria [value]="imagesGallery()" [visible]="imagesGallery().length > 0" (visibleChange)="imagesGallery.set([]); galleria.activeIndex = 0" [responsiveOptions]="responsiveOptions" [fullScreen]="true" [showItemNavigators]="true">
            <ng-template #item let-item>
                <img [src]="item" style="height: 100vh; width: 100%; display: block" />
            </ng-template>
        </p-galleria>
    </ng-template>
</app-error-boundary>
