<p-dialog
    [header]="selectedLink() ? 'Editar enlace' : 'Crear nuevo enlace'"
    class="!overflow-hidden"
    [visible]="display()"
    (visibleChange)="onCloseDialog.emit()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '25rem' }"
    [modal]="true"
>
    <form id="link-form" class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="flex flex-col gap-2">
            <label for="title">Titulo</label>
            <!-- <p-select id="title" formControlName="type" [options]="linkTypes()" optionLabel="label" optionValue="value" placeholder="Selecciona el tipo de enlace"></p-select> -->
            <input id="title" type="text" pInputText formControlName="title" placeholder="Título del enlace" />
            @if (form.controls['title']?.errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'title') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="link-type">Crear nuevo</label>
            <p-select id="link-type" formControlName="type" [options]="linkTypes()" optionLabel="label" optionValue="value" placeholder="Selecciona el tipo de enlace"></p-select>
        </div>

        <div class="flex flex-col gap-2">
            @if (form.controls['type'].value === LinkType.EXTERNAL) {
            <label for="url">URL</label>
            <input id="url" type="text" pInputText formControlName="url" placeholder="https://example.com" />
            } @else if (form.controls['type'].value === LinkType.PAGE) {

            <label for="page">Página</label>

            <app-error-boundary skeletonHeight="2.5rem" [resource]="pagesList" errorMessage="Ocurrió un error cargando las páginas.">
                <ng-template #content let-pages>
                    <p-select
                        [overlayOptions]="{
                    mode: 'modal'
                    }"
                        class="w-full"
                        id="page"
                        formControlName="pageId"
                        [options]="pages"
                        [checkmark]="true"
                        optionLabel="title"
                        optionValue="id"
                        placeholder="Selecciona una página"
                    >
                        <ng-template #selectedItem let-selectedLink>
                            @if (selectedLink) {
                            <div class="flex flex-col justify-center">
                                {{ selectedLink.title }}
                                <small>(/{{ selectedLink.slug }})</small>
                            </div>
                            }
                        </ng-template>
                        <ng-template let-link #item>
                            <div class="flex flex-col justify-center">
                                {{ link.title }}
                                <small>(/{{ link.slug }})</small>
                            </div>
                        </ng-template>
                    </p-select>
                </ng-template>
            </app-error-boundary>
            }
        </div>

        <div class="flex flex-col gap-2">
            <label for="open-tab">Abrir en</label>
            <p-selectbutton formControlName="openInNewTab" id="open-tab" [options]="linkTargets()" optionLabel="label" optionValue="value" aria-labelledby="open-tab"></p-selectbutton>
            @if (form.controls['openInNewTab']?.errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'openInNewTab') }} </p-message>
            }
        </div>
    </form>

    <ng-template #footer>
        <button pButton icon="pi pi-save" type="submit" form="link-form" [disabled]="form.invalid" label="Guardar"></button>
    </ng-template>
</p-dialog>
