<div class="card mb-0">
    <div class="flex justify-between mb-4">
        <div class="flex-1">
            <!-- Skeleton para el título -->
            <p-skeleton width="6rem" height="1rem" styleClass="mb-4"> </p-skeleton>

            <!-- Skeleton para el valor -->
            <p-skeleton width="4rem" height="2.5rem" styleClass="mb-2"> </p-skeleton>
        </div>

        <!-- Skeleton para el ícono -->
        <div class="flex items-center justify-center">
            <p-skeleton shape="circle" size="2.5rem"> </p-skeleton>
        </div>
    </div>

    <!-- Skeleton para la descripción -->
    <p-skeleton width="8rem" height="1rem"> </p-skeleton>
</div>
