<p-table [value]="specifications()" size="small" [(contextMenuSelection)]="selectedSpecification" [contextMenu]="cm()" dataKey="id">
    <ng-template #emptymessage>
        <tr>
            <td colspan="2" class="text-center">No hay especificaciones técnicas disponibles.</td>
        </tr>
    </ng-template>

    <ng-template #header>
        <tr>
            <th>Nombre</th>
            <th>Detalle</th>
        </tr>
    </ng-template>
    <ng-template let-specification let-i="rowIndex" #body>
        <tr [pContextMenuRow]="specification">
            <td>{{specification.title}}</td>
            <td
              class="max-w-sm"
            >{{specification.description}}</td>
        </tr>
    </ng-template>
</p-table>
