@let role = roleOptions[user()!.role]; @let fullName = user() ? `${user()!.name} ${user()!.lastname}` : '';
<div class="flex flex-col max-w-7xl mx-auto">
    <div class="card">
        <div class="flex justify-between items-center flex-wrap gap-4 mb-4">
            <div class="flex flex-col gap-0">
                <h5 class="!text-4xl !font-extrabold !m-0">Perfil de usuario</h5>
                <span class="text-slate-600 dark:text-slate-400">Administra tu información personal y preferencias de cuenta</span>
            </div>
        </div>

        <div class="mb-6 rounded-2xl border border-gray-200 p-5 lg:p-6 dark:border-gray-800">
            <div class="flex flex-col gap-5 xl:flex-row xl:items-center xl:justify-between">
                <div class="flex w-full flex-col items-center gap-6 xl:flex-row">
                    <p-avatar
                        (onImageError)="user()!.profile = null"
                        [label]="!user()?.profile ? (fullName | initials) : undefined"
                        [image]="user()?.profile ?? undefined"
                        class="mr-2 dark:!bg-gray-800 !bg-gray-200 !text-5xl !size-28"
                        size="xlarge"
                        shape="circle"
                    />
                    <div class="order-3 xl:order-2">
                        <h4 class="mb-2 text-center !text-lg font-semibold text-gray-800 xl:text-left dark:text-white/90">{{fullName}}</h4>
                        <div class="flex flex-col items-center gap-1 text-center xl:flex-row xl:gap-3 xl:text-left">
                            <!-- <p class="text-sm text-gray-500 dark:text-gray-400">Team Manager</p> -->
                            <p-badge [value]="role.label" [severity]="role.severity" class="text-sm"></p-badge>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-6 rounded-2xl border border-gray-200 p-5 lg:p-6 dark:border-gray-800">
            <div class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between">
                <div>
                    <h4 class="!text-lg font-semibold text-gray-800 lg:mb-6 dark:text-white/90">Información personal</h4>

                    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-7 2xl:gap-x-32">
                        <div>
                            <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Nombre</p>
                            <p class="text-sm font-medium text-gray-800 dark:text-white/90">{{user()?.name}}</p>
                        </div>

                        <div>
                            <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Apellido</p>
                            <p class="text-sm font-medium text-gray-800 dark:text-white/90">{{user()?.lastname}}</p>
                        </div>

                        <div>
                            <p class="mb-2 text-xs leading-normal text-gray-500 dark:text-gray-400">Email</p>
                            <p class="text-sm font-medium text-gray-800 dark:text-white/90">{{user()?.email}}</p>
                        </div>
                    </div>
                </div>

                <p-button [rounded]="true" icon="pi pi-pencil" label="Editar Información" (click)="openAndPopulateDialog()"></p-button>
            </div>
        </div>

        <update-password></update-password>
    </div>
</div>

<dialog-form [form]="form" [(display)]="display"></dialog-form>
