
<div class="flex flex-col gap-4" [formGroup]="form">
    <div class="flex items-center mt-5">
        <p-toggleswitch formControlName="active" />
        <span class="ml-2 font-bold">Menú activo</span>
    </div>
    <div class="flex items-center justify-between mt-10">
        <h5 class="font-semibold text-xl">Elementos del Dropdown</h5>
        <div class="flex gap-3">
            <p-button label="Agregar" (click)="handleAddDropdownItem()" icon="pi pi-plus" styleClass="p-button-outlined"></p-button>
        </div>
    </div>

    <div formArrayName="dropdownItems" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (control of dropdownItems.controls; let i = $index; track i) {
        <div class="card mb-3 card w-full cursor-pointer" [formGroup]="control" cdkDrag>
            <!-- Header con badge y botón eliminar -->
            <div class="flex items-center justify-between mb-4">
                <span class="bg-primary text-white px-3 py-1 rounded-full text-sm"> Elemento-{{i + 1}} </span>
                <p-button (click)="handleRemoveDropdownItem(i)" icon="pi pi-trash" styleClass="p-button-text p-button-sm p-button-danger" pTooltip="Eliminar elemento"> </p-button>
            </div>

            <!-- Campos del formulario -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div class="flex flex-col gap-2">
                    <label class="text-white font-medium">Título</label>
                    <input formControlName="title" pInputText placeholder="Ingresa el título" />
                </div>
                <div class="flex flex-col gap-2">
                    <label class="text-white font-medium">Tipo</label>
                    <p-select [options]="dropdownType()" [showClear]="true" formControlName="menuType" optionLabel="name" optionValue="code" placeholder="Selecciona tipo" class="w-full" />
                </div>
            </div>

            @if (control.get('menuType')?.value === 'internal-page') {

            <menu-type-internal-page [form]="control"></menu-type-internal-page>
            } @else if (control.get('menuType')?.value === 'external-link') {
            <menu-type-external-link [form]="control"></menu-type-external-link>
            }

            
        </div>
        } @if (FormUtils.isInvalidField(form, 'dropdownItems') || dropdownItems.length === 0) {
        <p-message severity="error" class="text-center">{{FormUtils.getFieldError(form, 'dropdownItems')}}</p-message>
        }
    </div>
</div>

<br />
<!-- </div> -->
