{{ currentSectionItem() | json }}; @let preview = sectionPreview();
<section class="rounded-2xl p-6 bg-white dark:bg-surface-800 shadow-md transition-all duration-300">
    <!-- <pre>
        {{ section()?.menus    | json }}
        {{ preview.menus | json }}
    </pre> -->

    @let type = preview.type; {{ type }} @switch (type) { @case (SectionType.HERO) { @if (level() === 'section') {
    <span class="block p-message p-2 p-message-info">Los campos que llenen en esta sección no se ven visualmente. El contenido se verá a través de los slides.</span>
    }
    <div class="mt-4">
        <section-hero-items [sectionItems]="items()"></section-hero-items>
    </div>
    } @case (SectionType.WHY_US) {
    <section-why-us-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-why-us-items>
    }
    <!-- TODO: Focus on here, because after some time, it's gonna change -->
    @case (SectionType.CASH_PROCESSING_EQUIPMENT) {
    <section-cash-processing-equipment-items [section]="preview" [isPreview]="true"></section-cash-processing-equipment-items>
    }
    <!-- TODO: End -->

    @case (SectionType.VALUE_PROPOSITION) {
    <section-value-proposition-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-value-proposition-items>
    } @case (SectionType.CLIENT) {
    <section-client-items [section]="sectionCreate()" [isPreview]="true" [currentSectionItem]="currentSectionItem()"></section-client-items>
    } @case (SectionType.OUR_COMPANY) {
    <section-our-company-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-our-company-items>
    } @case (SectionType.MACHINE) {
    <section-machine-items [section]="preview"></section-machine-items>
    } @case (SectionType.CONTACT_TOP_BAR) { @if (level() === 'section') {
    <span class="block p-message p-2 p-message-info w-4/5 mx-auto mb-5">Los campos que llenen en esta sección no se ven visualmente. El contenido se verá al agregar los items de contacto </span>
    }
    <section-contact-top-bar-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-contact-top-bar-items>
    } @case (SectionType.MAIN_NAVIGATION_MENU) {
    <!-- <span class="block p-message p-2 p-message-info w-4/5 mx-auto mb-5">Los campos que llenen en esta sección no se ven visualmente. El contenido se verá al agregar los items del menú de navegación principal </span> -->
    <section-main-navigation-menu-items [section]="preview"></section-main-navigation-menu-items>
    } @case (SectionType.CTA_BANNER) {
    <section-cta-banner-items [section]="preview"></section-cta-banner-items>
    } @case (SectionType.SOLUTIONS_OVERVIEW) {
    <section-solutions-overview-items [section]="preview" [isPreview]="true" [currentSectionItem]="currentSectionItem()"></section-solutions-overview-items>
    } @case (SectionType.MISSION_VISION) {
    <section-mission-vision-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-mission-vision-items>
    } @case (SectionType.CONTACT_US) {
    <section-contact-us-items [currentSectionItem]="currentSectionItem()" [isPreview]="true" [section]="preview"></section-contact-us-items>
    } @case (SectionType.FOOTER) {
    <section-footer-items [section]="preview"></section-footer-items>
    } @case (SectionType.ADVANTAGES) {
    <section-advantages-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-advantages-items>
    } @case (SectionType.SUPPORT_MAINTENANCE) {
    <section-support-maintenance-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-support-maintenance-items>
    } @case (SectionType.OPERATIONAL_BENEFITS) { @if (level() === 'section') {
    <span class="block p-message p-2 p-message-info w-4/5 mx-auto mb-5">Los campos que llenen en esta sección no se ven visualmente. El contenido se verá al agregar los items de beneficios operacionales </span>
    }
    <section-operacional-benefits-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-operacional-benefits-items>
    } @case (SectionType.MACHINE_DETAILS) {
    <section-machine-details-items [section]="preview"></section-machine-details-items>
    } @case (SectionType.MACHINES_CATALOG) {
    <section-machines-catalog-items [section]="preview" [isPreview]="true"></section-machines-catalog-items>
    } @case (SectionType.FULL_MAINTENANCE_PLAN) {
    <section-full-maintenance-plan-items [section]="preview" [isPreview]="true" [currentSectionItem]="currentSectionItem()"></section-full-maintenance-plan-items>
    } @case (SectionType.PREVENTIVE_CORRECTIVE_MAINTENANCE) {
    <section-preventive-corrective-maintenance-items [section]="preview" [isPreview]="true"></section-preventive-corrective-maintenance-items>
    } @case (SectionType.SUPPORT_WIDGET) {
    <section-support-widget-items [section]="preview" [currentSectionItem]="currentSectionItem()"></section-support-widget-items>
    }
    
    @default {} }
</section>
