<app-error-boundary fallbackType="card" [resource]="resource()" [skeletonHeight]="'6rem'" [errorMessage]="message()!">
    <ng-template #loading>
        <app-card-skeleton></app-card-skeleton>
    </ng-template>

    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">{{ title() }}</span>
                <div class="text-surface-900 dark:text-surface-0 font-bold text-3xl">{{ value() }}</div>
            </div>
            <ng-content></ng-content>
        </div>
        <span class="text-muted-color">{{ description() }}</span>
    </div>
</app-error-boundary>
