<p-dialog
    [header]="selectedSection() ? 'Editar sección' : 'Crear nueva sección'"
    contentStyleClass="overflow-x-hidden"
    [visible]="display()"
    (visibleChange)="closeDialog()"
    [closable]="!loading()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '60vw' }"
    [modal]="true"
    [maximizable]="true"
>
    <div class="grid lg:grid-cols-3 gap-4">
        <form class="flex flex-col gap-4" [formGroup]="form" id="menu-form" (ngSubmit)="saveChanges()">
            @let type = form.controls['type'].value; @let imageType = form.controls['imageType'].value;
            <div class="flex flex-col gap-2">
                <label for="type">Tipo</label>
                <p-select
                    id="type"
                    [overlayOptions]="{
                    mode: 'modal'
                }"
                    [filter]="true"
                    formControlName="type"
                    emptyFilterMessage="No se encontraron tipos"
                    emptyMessage="No hay tipos disponibles"
                    [options]="sectionTypesOptions | keyvalue"
                    optionLabel="value.label"
                    optionValue="value.value"
                    placeholder="Selecciona el tipo de sección"
                ></p-select>
                @if (form.controls['type'].errors) {
                <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'type') }} </p-message>
                }
            </div>

            <div class="flex flex-col gap-2 w-full">
                <common-inputs [form]="form" [includeFields]="[{ type: 'title', label: 'Título', placeholder: 'Título de la sección' }]"></common-inputs>

                @switch (type) { @case (SectionType.WHY_US) { <why-us-form [form]="form"></why-us-form>
                } @case (SectionType.CASH_PROCESSING_EQUIPMENT) {
                <select-machine [form]="form" label="Selecciona las Máquinas" [multiple]="true"></select-machine>
                } @case (SectionType.CLIENT) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[{
                type: 'content',
                label: 'Descripción',
                placeholder: 'Descripción de la sección',
                isTextarea: true
            }]"
                ></common-inputs>
                } @case (SectionType.OUR_COMPANY) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[{
                            type: 'subtitle',
                            label: 'Frase destacada',
                            placeholder: 'Frase destacada de la sección',
                            
                        }
                    ,{
                        
                    type: 'content',
                    label: 'Historia',
                    placeholder: 'Breve historia de la empresa',
                    isTextarea: true,
                    }]"
                ></common-inputs>
                <div class="flex flex-col gap-2">
                    <label>Imagen referencial</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>
                } @case(SectionType.MAIN_NAVIGATION_MENU) {
                <navigation-menu-form></navigation-menu-form>
                } @case(SectionType.CTA_BANNER) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                  
                    {
                type: 'subtitle',
                label: 'Subtítulo',
                placeholder: 'Subtítulo de la sección',
            }, {
                type: 'content',
                label: 'Contenido',
                placeholder: 'Contenido de la sección',
                isTextarea: true,
            }]"
                ></common-inputs>

                <div class="flex flex-col gap-2">
                    <label>Imagen de Fondo</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>

                <show-link-switch [form]="form"></show-link-switch>
                } @case (SectionType.SOLUTIONS_OVERVIEW) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[{
                    type: 'content',
                    label: 'Descripción',
                    placeholder: 'Descripción de la sección',
                    isTextarea: true,
                }]"
                ></common-inputs>
                } @case (SectionType.MISSION_VISION) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    
                    {
                        type: 'content',
                        label: 'Contenido',
                        placeholder: 'Contenido de la sección',
                        isTextarea: true,
                    }
                ]"
                ></common-inputs>
                <div class="flex flex-col gap-2">
                    <label>Imagen</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>

                } @case (SectionType.MACHINE) {
                <select-machine [form]="form" label="Selecciona las Máquinas" [multiple]="true"></select-machine>
                } @case (SectionType.CONTACT_US) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                        
                    {
                        type: 'content',
                        label: 'Descripción',
                        placeholder: 'Descripción de la sección',
                        isTextarea: true,
                    }, {
                        type: 'subtitle',
                        inputType: 'email',
                        label: 'Correo electrónico',
                        placeholder: 'Correo electrónico de contacto',
                    }
                ]"
                ></common-inputs>
                <div class="flex flex-col gap-2">
                    <label>Imagen</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    
                    {
                        type: 'textButton',
                        label: 'Texto del botón',
                        placeholder: 'Texto del botón',
                        
                    }
                ]"
                ></common-inputs>
                <!-- <show-link-switch [form]="form"></show-link-switch> -->
                } @case (SectionType.FOOTER) {
                <navigation-menu-form></navigation-menu-form>
                <div class="mt-2">
                    <input-list label="Lista de información de contacto" [form]="form"></input-list>
                </div>
                <common-inputs
                    [form]="form"
                    [includeFields]="[{
                        type: 'subtitle',
                        label: 'Texto de copyright',
                        placeholder: 'Texto de copyright',
                    }]"
                ></common-inputs>
                } @case (SectionType.SUPPORT_MAINTENANCE) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    
                    {
                        type: 'content',
                        label: 'Descripción',
                        placeholder: 'Descripción de la sección',
                        isTextarea: true,
                    },
                    {
                        type: 'subtitle',
                        label: 'Frase destacada',
                        placeholder: 'Frase destacada de la sección',
                    }
                ]"
                ></common-inputs>
                } @case (SectionType.OPERATIONAL_BENEFITS) { } @case (SectionType.MACHINE_DETAILS) {
                <select-machine [form]="form" label="Selecciona una máquina"></select-machine>
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    
                    {
                        type: 'subtitle',
                        label: 'Titulo de especificaciones',
                        placeholder: 'Título de las especificaciones',
                      
                    }
                ]"
                ></common-inputs>
                <div class="mt-5">
                    <show-link-switch [form]="form"></show-link-switch>
                </div>
                } @case (SectionType.MACHINES_CATALOG) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    
                    
                    {
                        type: 'content',
                        label: 'Descripción',
                        placeholder: 'Descripción de la sección',
                        isTextarea: true,
                    }
                ]"
                ></common-inputs>
                <!-- < -->
                <select-machine [form]="form" label="Selecciona las Máquinas" [multiple]="true" mode="modal"></select-machine>
                } @case (SectionType.FULL_MAINTENANCE_PLAN) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    {
                        type: 'content',
                        label: 'Descripción',
                        placeholder: 'Descripción de la sección',
                        isTextarea: true,
                    }
                ]"
                ></common-inputs>
                <div class="flex flex-col gap-2 mb-5">
                    <label>Imagen referencial</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>

                <icon-upload [display]="display()" [form]="form" iconFileName="iconFile" currentIconUrlName="currentIconUrl"></icon-upload>

                <div class="mt-5">
                    <show-link-switch [form]="form"></show-link-switch>
                </div>
                } @case (SectionType.PREVENTIVE_CORRECTIVE_MAINTENANCE) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    {
                        type: 'content',
                        label: 'Descripción',
                        placeholder: 'Descripción de la sección',
                        isTextarea: true,
                    }
                ]"
                ></common-inputs>

                <div class="mt-2">
                    <input-list label="Lista de beneficios" [form]="form"></input-list>
                </div>

                <div class="flex flex-col gap-2 mb-5">
                    <label>Video referencial</label>
                    <video-upload [form]="form"></video-upload>
                </div>

                <div class="flex flex-col gap-2 mb-5">
                    <label>Imagen referencial</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>

                <show-link-switch [form]="form"></show-link-switch>

                <show-link-switch [form]="form" [isExtraLink]="true"></show-link-switch>
                } @case (SectionType.SUPPORT_WIDGET) {
                <common-inputs
                    [form]="form"
                    [includeFields]="[
                    {
                        inputType: 'number',
                        type: 'subtitle',
                        label: 'Número de contacto',
                        placeholder: 'Número de contacto',
                        
                    },
                    {
                        type: 'content',
                        label: 'Placeholder',
                        placeholder: 'Placeholder del input',
                        
                    }, {
                        type: 'textButton',
                        label: 'Texto del botón',
                        placeholder: 'Texto del botón',
                        
                    }
                   
                ]"
                ></common-inputs>
                <div class="flex flex-col mt-2">
                    <label class="mb-3">Icono del widget</label>
                    <icon-upload [display]="display()" [form]="form" iconFileName="iconFile" currentIconUrlName="currentIconUrl"></icon-upload>
                </div>

                <div class="flex flex-col gap-2 mt-4">
                    <label>Imagen del widget</label>
                    <file-upload currentImageName="currentImage" imageSelector="image" [form]="form" label="URL de la imagen" imageTypeName="imageType" [imageType]="imageType" imageFieldName="imageFile" imageURLName="imageUrl"> </file-upload>
                </div>
                }}
            </div>

            @if (mode() === SectionMode.CUSTOM) {
            <p-togglebutton formControlName="active" onLabel="Activo" offLabel="Inactivo" onIcon="pi pi-check" offIcon="pi pi-times" onIcon="pi pi-lock-open" offIcon="pi pi-lock" class="w-36" ariaLabel="Do you confirm" />
            }
        </form>

        <div class="lg:col-span-2">
            <preview [section]="selectedSection() ?? null"></preview>
        </div>
    </div>

    <!-- TODO:
    <pre>{{ form.value | json }}</pre> -->

    <ng-template #footer>
        <button pButton [loading]="loading()" type="submit" form="menu-form" icon="pi pi-save" [disabled]="form.invalid" label="Guardar"></button>
    </ng-template>
</p-dialog>
