<p-dialog
    [header]="selectedSection() ? 'Editar sección' : 'Crear nueva sección'"
    class="!overflow-hidden"
    [visible]="display()"
    (visibleChange)="onCloseDialog.emit()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '30vw' }"
    [modal]="true"
    [maximizable]="true"
>
    <form class="flex flex-col gap-4" [formGroup]="form" id="menu-form" (ngSubmit)="saveChanges()">
        @let type = form.controls['type'].value;
        <div class="flex flex-col gap-2">
            <label for="type">Tipo</label>
            <p-select
                id="type"
                [overlayOptions]="{
                    mode: 'modal'
                }"
                formControlName="type"
                [options]="sectionTypesOptions | keyvalue"
                optionLabel="value.label"
                optionValue="value.value"
                placeholder="Selecciona el tipo de sección"
            ></p-select>
            @if (form.controls['type'].errors) {
            <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'type') }} </p-message>
            }
        </div>

        <div class="flex flex-col gap-2 w-full">
            <!-- <div class="flex flex-col gap-2 w-full">
                <label for="title">Titulo</label>
                <input id="title" type="text" pInputText formControlName="title" placeholder="Título de la sección" />
                @if (form.controls['title'].errors) {
                <p-message severity="error" size="small" variant="simple"> {{ FormUtils.getFieldError(form, 'title') }} </p-message>
                }
            </div> -->
            <common-inputs [form]="form" [includeFields]="['title']"></common-inputs>

            <!-- @if (type === SectionType.WHY_US) {
            <why-us-form [form]="form"></why-us-form>
            } @if (type === SectionType.CASH_PROCESSING_EQUIPMENT) {
                <div class="mt-3">
                    <show-link-switch [form]="form"></show-link-switch>
                </div>
            } -->

            @switch (type) { @case (SectionType.WHY_US) { <why-us-form [form]="form"></why-us-form>
            } @case (SectionType.CASH_PROCESSING_EQUIPMENT) {
            <div class="mt-3">
                <show-link-switch [form]="form"></show-link-switch>
            </div>
            } @case (SectionType.CLIENT) {
            <common-inputs [form]="form" [includeFields]="['subtitle']"></common-inputs>
            } }
        </div>

        <p-togglebutton formControlName="active" onLabel="Activo" offLabel="Inactivo" onIcon="pi pi-check" offIcon="pi pi-times" onIcon="pi pi-lock-open" offIcon="pi pi-lock" class="w-36" ariaLabel="Do you confirm" />
    </form>

    <pre>{{ form.value | json }}</pre>

    <ng-template #footer>
        <button pButton type="submit" form="menu-form" icon="pi pi-save" [disabled]="form.invalid" label="Guardar"></button>
    </ng-template>
</p-dialog>
