<div class="flex flex-col">
    <div class="card">
        <div class="flex items-center justify-between mb-4">
            <h4 class="font-semibold text-xl mb-4">Menu</h4>
            <div class="flex gap-2">
                <p-button label="Nuevo" icon="pi pi-plus" styleClass="p-button-outlined"></p-button>
                <!-- <p-button label="Previsualizar" icon="pi pi-eye" styleClass="p-button-outlined"></p-button> -->

                <p-togglebutton [(ngModel)]="checked" 
                onLabel="Desactivar"
                offLabel="Previsualizar"
                onIcon="pi pi-check" 
                offIcon="pi pi-times" 
              
           
                lass="w-36" ariaLabel="Do you confirm" 
                />
            </div>
        </div>

        <p-toolbar>
            <ng-template #start>
                <p-button icon="pi pi-plus" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-print" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-upload" severity="secondary" text />
            </ng-template>

            <ng-template #center>
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText placeholder="Search" />
                </p-iconfield>
            </ng-template>

            <!-- <ng-template #end><p-splitbutton label="Save" [model]="items"></p-splitbutton></ng-template> -->
        </p-toolbar>

        <p-toolbar>
            <ng-template #start>
                <p-button icon="pi pi-plus" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-print" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-upload" severity="secondary" text />
            </ng-template>

            <ng-template #center>
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText placeholder="Search" />
                </p-iconfield>
            </ng-template>

            <!-- <ng-template #end><p-splitbutton label="Save" [model]="items"></p-splitbutton></ng-template> -->
        </p-toolbar>

        <p-toolbar>
            <ng-template #start>
                <p-button icon="pi pi-plus" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-print" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-upload" severity="secondary" text />
            </ng-template>

            <ng-template #center>
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText placeholder="Search" />
                </p-iconfield>
            </ng-template>

            <!-- <ng-template #end><p-splitbutton label="Save" [model]="items"></p-splitbutton></ng-template> -->
        </p-toolbar>
    </div>
</div>
