<p-confirmdialog />
<div class="flex flex-col max-w-7xl mx-auto">
    <div class="card">
        <div class="flex justify-between items-center flex-wrap gap-4 mb-4 sticky top-16 bg-[var(--surface-card)] pb-2 z-20">
            <div class="flex flex-col gap-0">
                <h5 class="!text-2xl md:!text-4xl !font-extrabold !m-0">Secciones Personalizadas</h5>
                <span class="text-muted-color md:text-xl">Gestiona las secciones personalizadas y sus items</span>
            </div>

            <div class="flex items-center- flex-wrap gap-2">
                <app-error-boundary [resource]="pagesListRs" errorMessage="No se pudieron cargar las páginas." emptyMessage="No hay páginas disponibles.">
                    <ng-template #content let-pages>
                        <p-select
                            [checkmark]="true"
                            [(ngModel)]="selectedPage"
                            placeholder="Selecciona una página"
                            emptyFilterMessage="No se encontraron páginas"
                            [filter]="true"
                            filterPlaceholder="Buscar páginas"
                            [options]="pages"
                            emptyMessage="No se encontraron páginas"
                            optionLabel="title"
                            class="w-full md:w-auto"
                        ></p-select>
                    </ng-template>
                </app-error-boundary>

                <p-button label="Nueva Sección" icon="pi pi-plus" (click)="display.set(true)" [disabled]="!selectedPage()"></p-button>
            </div>
        </div>

        <sections-list [type]="SectionMode.CUSTOM" [selectedPage]="selectedPage()" (onDisplay)="display.set($event)" (onSelectedSection)="selectedSection.set($event)">
            <ng-template #associatedPage let-section>
                <p-button label="Mover a" icon="pi pi-file" [disabled]="sectionService.loading()" class="ml-auto" variant="outlined" (click)="op.toggle($event)"> </p-button>
                <p-popover #op>
                    <div class="flex flex-col gap-4 w-xs">
                        <app-error-boundary [resource]="pagesListRs" emptyMessage="No hay páginas disponibles para mover" errorMessage="Hubo un error al cargar las páginas">
                            <p-select
                                #pageSelect
                                size="small"
                                [loading]="sectionService.loading()"
                                emptyMessage="No hay páginas disponibles para mover"
                                emptyFilterMessage="No se encontraron páginas"
                                [options]="pages()"
                                (onChange)="moveToPage($event, section, $event.value); op.hide()"
                                (onHide)="pageSelect.updateModel(null); pageSelect.value = null"
                                optionLabel="title"
                                optionValue="id"
                                placeholder="Selecciona la página destino"
                                [filter]="true"
                                filterPlaceholder="Buscar páginas"
                                display="chip"
                                fluid
                            >
                            </p-select>
                        </app-error-boundary>
                    </div>
                </p-popover>
            </ng-template>
        </sections-list>

        <section-form [mode]="SectionMode.CUSTOM" [display]="display()" (onCloseDialog)="display.set(false)" [selectedPageId]="selectedPage()?.id!" [(selectedSection)]="selectedSection"></section-form>
    </div>
</div>
