@if (sectionItems().length === 0) {
<empty-field-message textContent="No hay portadas agregados."></empty-field-message>
} @else { @if (sectionItems().length === 1) {
<div (contextmenu)="contextMenu()?.onContextMenu($event, sectionItems()[0])">
    <hero-item [item]="sectionItems()[0]"></hero-item>
</div>
} @else {

<p-galleria
    [changeItemOnIndicatorHover]="true"
    [responsiveOptions]="responsiveOptions"
    [value]="sectionItems()"
    [numVisible]="3"
    [circular]="true"
    [showThumbnailNavigators]="false"
    [autoPlay]="true"
    [shouldStopAutoplayByClick]="true"
    [transitionInterval]="5000"
>
    <ng-template #item let-item>
        <!-- <img [src]="item.image" style="width: 100%" /> -->
        <div class="w-full" (contextmenu)="contextMenu()?.onContextMenu($event, item)">
            <hero-item [item]="item"></hero-item>
        </div>
    </ng-template>
    <ng-template #thumbnail let-item>
        @if (!item.backgroundImage) {
        <app-image-error containerClass="!size-20" iconClass="!size-8"></app-image-error>
        } @else {
        <img [src]="item.backgroundImage" class="size-20 object-cover" />
        }
    </ng-template>
</p-galleria>

} }
