@if (sectionItems().length === 0) {
<span class="text-muted-color">No hay items en esta sección</span>
} @else {

<div>
    <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
</div>

@if (sectionItems().length === 1) {
<hero-item [item]="sectionItems()[0]"></hero-item>
} @else {

<p-carousel class="w-auto !-z-20" (onPage)="onPageChange($event)" [showNavigators]="false" [autoplayInterval]="5000" [circular]="false" [value]="sectionItems()" [numVisible]="1" [numScroll]="1">
    <ng-template let-item #item>
        <hero-item [item]="item"></hero-item>
    </ng-template>
</p-carousel>
} }
